h3, p, .navbar .menu-items .popup {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  position: relative
}

.navbar .menu-items {
  display: inline-block;
  vertical-align: middle;

  li, a, .viewMore > a:after {
    display: inline-block;
    vertical-align: middle;
  }
}

.b-page {
  margin: 0;
  background: #e6e7e9;
  font-family: Helmet, Freesans, Helvetica, Arial, sans-serif;
  font-size: 100%;
  color: #222;

  .header {
    padding: 10px 0;
    background: #0f4592;
    text-align: center;
    color: #fff;

    .b-title-1 {
      margin-bottom: 10px;
      font-size: 112.5%;
      line-height: 130%;

      .text {
        display: block;
        max-width: 971px;
        margin: 0 auto;
        font-size: 120%;
      }
    }

    .b-title-2 {
      font-size: 212.5%;
      line-height: 110%;
    }
  }

  .navbar {
    background-color: #0072bc;

    .b-navbar {
      position: relative;
      height: 46px;

      .menu-items {
        width: 100%;
        height: 46px;
        margin: 0;
        padding: 0;
        overflow: hidden;
        vertical-align: top;

        li {
          list-style-type: none;

          a {
            padding: 14px;
            text-decoration: none;
            color: #fff;
            transition: .3s;

            &:hover {
              background-color: #fff;
              color: #0072bc;
            }

            &.active {
              background-color: #ffffff;
              color: #0072bc;
              cursor: default;
            }
          }
        }

        .viewMore {
          > a {
            &:after {
              content: "";
              margin-left: 6px;
              border-top: 6px solid #fff;
              border-left: 4px solid transparent;
              border-right: 4px solid transparent;
              transition: .3s;
            }

            &:hover:after {
              border-top-color: #0072bc;
            }
          }

          &.active > a {
            background-color: #fff;
            color: #0072bc;

            &:after {
              border-top-color: #0072bc;
            }

            &:hover {
              background-color: #fff;
              color: #0072bc;

              &:after {
                border-top-color: #0072bc;
              }
            }
          }

          &.allInPopup {
            > a {
              &:after {
                display: none;
              }

              i {
                display: block;
                margin-bottom: 8px;
                width: 28px;
                height: 1px;
                background: #fff;
                transition: .3s;
              }

              &:hover i {
                background: #0072bc;
              }
            }

            &.active > a {
              i, &:hover i {
                background: #0072bc;
              }
            }

            > a i:last-child {
              margin-bottom: 0;
            }
          }
        }

        .popup {
          z-index: 999;
          background-color: #fff;
          box-shadow: 5px 5px 5px rgba(80, 80, 80, 0.2);

          > li {
            display: block;
            border-bottom: 1px solid #e6e7e9;

            &:last-child {
              border-bottom: 0;
            }

            > a {
              display: block;
              background-color: #fff;
              color: #222;

              &:hover {
                background-color: #e6e7e9;
              }
            }
          }
        }
      }

      .b-login {
        display: inline-block;
        position: absolute;
        right: 0;
        top: 0;
        height: 46px;

        a {
          display: inline-block;
          padding: 10px 14px;
          text-decoration: none;
          color: #fff;
          transition: .3s;

          &:hover {
            background-color: #fff;
            color: #0072bc;
          }

          &.active {
            background-color: #ffffff;
            color: #0072bc;
            cursor: default;
          }

          &.login::before {
            content: "";
            display: inline-block;
            vertical-align: middle;
            background: #ffffff url("../img/login.png") no-repeat center;
            width: 24px;
            height: 24px;
            margin-right: 8px;
            margin-bottom: 2px;
            border-radius: 50%;
            box-shadow: 0 0 10px #fff;

          }

          &.exit::before {
            content: "";
            display: inline-block;
            vertical-align: middle;
            background: #ffffff url("../img/exit.png") no-repeat center;
            width: 24px;
            height: 24px;
            margin-right: 8px;
            margin-bottom: 2px;
            border-radius: 50%;
            box-shadow: 0 0 10px #fff;
          }
        }
      }
    }
  }

  .main {

    .error {
      font-size: 100%;
      color: #ff4955;
      margin-top: 7px;
      margin-bottom: 5px;

      &:before {
        content: "";
        display: inline-block;
        vertical-align: middle;
        width: 20px;
        height: 20px;
        background: url("../img/error.png") no-repeat center;
        margin-bottom: 3px;
        margin-right: 6px;
      }
    }

    .errors {
      display: block !important;
      font-size: 100%;
      color: #ff4955;
      margin-bottom: 5px;
    }

    .b-button {
      position: relative;
      height: 35px;
      margin-top: 10px;

      .button {
        height: 35px;
        min-width: 50px;
        padding: 8px 14px;
        border: 0;
        background-color: #0072bc;
        color: #ffffff;
        transition: .3s;
        font-size: 100%;

        &:hover {
          background-color: #0f4592;
          cursor: pointer;
        }
      }
    }

    .button-custom {
      width: 100%;

      .button {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 90px;
      }
    }

    .link-back {
      display: inline-block;
      margin: 4px;
      padding: 5px;
      color: #222222;
      text-decoration: none;
      transition: .3s;
      border-bottom: 1px solid transparent;

      &:hover {
        border-bottom: 1px solid #ddd;
      }
    }

    .form-entry {
           max-width: 400px;
           margin: 10px auto;
           padding: 3px 10px 40px 10px;
           background-color: #ffffff;
           box-shadow: 0 0 15px rgba(80, 80, 80, 0.5);

           .group {
             position: relative;
             margin-top: 30px;
             margin-bottom: 40px;

             input {
               font-size: 112.5%;
               padding: 10px 2%;
               display: block;
               width: 96%;
               border: none;
               border-bottom: 2px solid #e0e0e0;

               &:focus {
                 outline: none;

                 ~ label, &:valid ~ label {
                   top: -20px;
                   font-size: 87.5%;
                   color: #0072bc;
                 }

                 ~ .bar:before {
                   width: 100%;
                 }

                 ~ label {
                   top: -20px;
                   font-size: 87.5%;
                   color: #0072bc;
                 }
               }

               &:valid ~ label {
                 top: -20px;
                 font-size: 87.5%;
                 color: #0072bc;
               }
             }

             label {
               color: #999;
               font-size: 112.5%;
               font-weight: normal;
               position: absolute;
               pointer-events: none;
               left: 5px;
               top: 10px;
               transition: 0.2s ease all;
             }

             .bar {
               position: relative;
               display: block;
               width: 100%;

               &:before {
                 content: '';
                 height: 2px;
                 width: 0;
                 left: 0;
                 bottom: 0;
                 position: absolute;
                 background: #0072bc;
                 transition: 0.2s ease all;
               }
             }
           }
         }

    .form-edit-inf {
      max-width: 400px;
      margin: 10px auto;
      padding: 3px 10px 40px 10px;
      background-color: #ffffff;
      box-shadow: 0 0 15px rgba(80, 80, 80, 0.5);

      label {
        display: block;
        margin: 8px 0;
      }

      input {
        width: 95%;
        padding: 8px 2%;
        border: 1px solid #d9d9d9;
        border-top: 1px solid #c0c0c0;
        outline: none;
        transition: .3s;
        font: inherit;

        &:hover {
          border: 1px solid #b9b9b9;
          border-top: 1px solid #a0a0a0;
          box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
        }
        &:focus {
          border: 1px solid #4d90fe;
          box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
        }
      }

      .button-edit-inf {
        margin-top: 35px;
      }
    }

    .b-main {
      max-width: 600px;
      margin: 10px auto;
      padding: 3px 10px 10px 10px;
      background-color: #ffffff;
      box-shadow: 0 0 15px rgba(80, 80, 80, 0.5);

      form {

        div {
          display: inline-block;

          select {
            margin: 10px;
            padding: 3px 5px;
            border: 0;
            font-size: 87.5%;
            box-shadow: 0 0 6px rgba(80, 80, 80, 0.6);
          }

          input {
            width: 70px;
            padding: 7px;
            margin-right: 10px;
            border: 1px solid #d9d9d9;
            border-top: 1px solid #c0c0c0;
            outline: none;
            transition: .3s;
            font: inherit;

            &:hover {
              border: 1px solid #b9b9b9;
              border-top: 1px solid #a0a0a0;
              box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
            }
            &:focus {
              border: 1px solid #4d90fe;
              box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
            }
          }
        }
      }

      .b-text {
        margin-top: 10px;
      }

      .search-form {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        margin-top: 10px;
        width: 100%;
        height: 38px;

        .search-input {
          position: absolute;
          right: 0;
          top: 0;
          width: 230px;
          height: 18px;
          padding: 10px 38px 10px 10px;
          border: 0;
          background-color: rgba(#0072bc, .15);
          transition: .3s;
          font-size: 100%;
          outline: none;
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);

          &:hover, &:focus {
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
          }
        }

        .search-button {
          position: absolute;
          top: 0;
          right: 0;
          width: 38px;
          height: 38px;
          border: none;
          outline: none;
          cursor: pointer;
          background: transparent url("../img/search.png") center no-repeat;
        }
      }

      table {
        border-collapse: collapse;
        width: 100%;
        margin-top: 8px;

        th:last-child, td:last-child {
          border-right: 0;
        }

        th:first-child, td:first-child {
          border-left: 0;
        }

        th {
          background: #0072bc;
          color: white;
          padding: 8px;
          font-weight: 100;
          border-right: 1px solid #ffffff;
          border-bottom: 1px solid #ffffff;
          border-left: 1px solid #ffffff;
        }

        td {
          background: #e6e7e9;
          padding: 5px 8px;
          border: 1px solid #ffffff;

          a {
            color: #0072bc;
            text-decoration: none;

            &:hover {
              text-decoration: underline;
            }
          }
        }

        .edit, .delete, .book {
          display: block;
          margin: 0 auto;
          width: 24px;
          height: 24px;
          background: #0072bc;
        }
        .edit {
          background: transparent url("../img/edit.png") no-repeat center;
        }
        .delete {
          background: transparent url("../img/delete.png") no-repeat center;
        }
        .book {
          background: transparent url("../img/book.png") no-repeat center;
        }
      }

      .numbers {
        text-align: center;
        margin-top: 10px;

        a {
          text-decoration: none;
          transition: 0.3s;

          &:hover {
            background-color: #f07f0f;
          }
        }

        .page-numbers {
          display: inline-block;
          background-color: #0072bc;
          color: #fff;
          padding: 7px 10px;
          margin-right: 5px;
        }

        .current {
          background-color: #0f4592;
          cursor: default;

          &:hover {
            background-color: #0f4592;
          }
        }
      }
    }
  }

  .footer {
    background-color: #0072bc;

    .text {
      display: inline-block;
      padding: 14px;
      color: #fff;
    }
  }
}

@media screen and (max-width: 1219px) {
  .container {
    max-width: 976px;
  }
  .b-page {
    .navbar {
      .b-navbar {
        height: 40px;

        .menu-items li a {
          padding: 11px;
        }

        .b-login a {
          padding: 7px 11px;
        }
      }
    }
  }
}

@media screen and (max-width: 976px) {
  .b-page {
    .navbar .b-navbar .menu-items {
      width: 80px;
    }
  }
}

@media screen and (max-width: 768px) {
  .navbar .b-navbar .menu-items .viewMore.allInPopup > ul {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .b-page .main .b-main {
    padding: 0 0 10px 0;

    form {
      padding: 3px 10px 1px 10px;
    }

    .b-text {
      padding: 0 10px;
    }

    .search-form {
      margin-left: -30px;
    }
  }
}